<div class="app-flex-container">
    <div>
        <h2>New grade</h2>
    </div>
</div>

<mat-card *ngIf="error">
    <div class="app-accent">{{error}}</div>
</mat-card>

<mat-card *ngIf="message">
    <div class="app-primary">{{message}}</div>
</mat-card>

<div *ngIf="!(error || message)">

    <div *ngIf="isLoading()">
        <mat-spinner></mat-spinner> Loading...
    </div>

    <div *ngIf="!isLoading()">

        <div *ngIf="isCreating">
            <mat-spinner></mat-spinner> Creating grade...
        </div>
        <div *ngIf="!isCreating">
            <mat-form-field>
                <div class="app-flex-container">
                    <input value="{{organisation.name}} (ID={{organisation.id}})" matInput placeholder="Organisation" disabled>
                    <a mat-stroked-button color="primary" routerLink="/organisation-view/{{organisation.id}}">
                        <mat-icon aria-label="View organisation">visibility</mat-icon>
                        View organisation&nbsp;&nbsp;
                    </a>
                </div>
            </mat-form-field>

            <mat-form-field>
                <div class="app-flex-container">
                    <input value="{{grade.professor.professorAddress}} (ID={{grade.professor.id}})" matInput placeholder="Professor" disabled>
                    <a mat-stroked-button color="primary" routerLink="/professor-view/{{grade.professor.id}}">
                        <mat-icon aria-label="View professor">visibility</mat-icon>
                        View professor&nbsp;&nbsp;
                    </a>
                </div>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Period" [(ngModel)]="periodSelected" (selectionChange)="reloadArrays()">
                    <mat-option *ngFor="let period of periods" [value]="period">
                        {{period.name}} (ID={{period.id}})
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Teaching" [(ngModel)]="teachingSelected" (selectionChange)="reloadArrays()">
                    <mat-option *ngFor="let teaching of teachings" [value]="teaching">
                        {{teaching.subject.name}} (Subject ID={{teaching.subject.id}}, Period ID={{teaching.subject.period.id}})
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Enrollment" [(ngModel)]="grade.enrollment">
                    <mat-option *ngFor="let enrollment of enrollments" [value]="enrollment">
                        {{enrollment.student.studentCode}} (Student ID={{enrollment.student.id}}, Subject ID={{enrollment.subject.id}})
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input [(ngModel)]="grade.grade" matInput placeholder="Grade">
            </mat-form-field>

            <mat-slide-toggle [(ngModel)]="grade.isActive" color="primary">
                <span *ngIf="grade.isActive">Active</span>
                <span *ngIf="!grade.isActive">Inactive</span>
            </mat-slide-toggle>
        </div>

    </div>

</div>

<div class="app-flex-container">
    <div>
        &nbsp;
        <br />
    </div>
    <div>
        <a mat-button routerLink="/grades">
            <mat-icon aria-label="Cancel">arrow_back</mat-icon>
            Return
        </a>
        &nbsp;
        <button mat-raised-button color="accent" (click)="create()" *ngIf="!error && !message && !isCreating"
            [disabled]="!grade.professor || !grade.enrollment || !grade.grade">
            <mat-icon aria-label="Save">save</mat-icon>
            Save
        </button>
    </div>
</div>