<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef width="10%"> ID </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'app-primary':element.isActive, 'app-accent':!element.isActive}">
            {{element.id}}
        </td>
    </ng-container>

    <ng-container matColumnDef="ownerAddress">
        <th mat-header-cell *matHeaderCellDef width="30%"> Owner Address </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'app-primary':element.isActive, 'app-accent':!element.isActive}">
            {{element.ownerAddress}}
        </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef width="35"> Name </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'app-primary':element.isActive, 'app-accent':!element.isActive}">
            {{element.name}}
        </td>
    </ng-container>

    <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef width="25%"> State </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'app-primary':element.isActive, 'app-accent':!element.isActive}">
            <span *ngIf="element.isActive">Active</span>
            <span *ngIf="!element.isActive">Inactive</span>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<br />
<div class="app-flex-container" *ngIf="canUpdate">
    <div>
        &nbsp;
        <br />
    </div>
    <div>
        <a mat-raised-button color="accent" routerLink="/organisation-owner/{{organisation.id}}">
            <mat-icon aria-label="Change owner">supervisor_account</mat-icon>
            Change owner
        </a>
        &nbsp;
        <a mat-raised-button color="accent" routerLink="/organisation-state/{{organisation.id}}">
            <mat-icon aria-label="Change state">swap_horiz</mat-icon>
            Change state
        </a>
    </div>
</div>