<div class="app-flex-container">
    <div>
        <h2>Student</h2>
    </div>
</div>

<mat-card *ngIf="error">
    <div class="app-accent">{{error}}</div>
</mat-card>

<div *ngIf="!error">

    <div *ngIf="isLoading">
        <mat-spinner></mat-spinner> Loading...
    </div>

    <div *ngIf="!isLoading">
        <mat-form-field>
            <input [(ngModel)]="student.id" matInput placeholder="ID" disabled>
        </mat-form-field>

        <mat-form-field>
            <div class="app-flex-container">
                <input value="{{student.organisation.name}} (ID={{student.organisation.id}})" matInput placeholder="Organisation" disabled>
                <a mat-stroked-button color="primary" routerLink="/organisation-view/{{student.organisation.id}}">
                    <mat-icon aria-label="View organisation">visibility</mat-icon>
                    View organisation&nbsp;&nbsp;
                </a>
            </div>
        </mat-form-field>

        <mat-form-field>
            <input [(ngModel)]="student.studentCode" matInput placeholder="Student Code" disabled>
        </mat-form-field>

        <mat-slide-toggle [(ngModel)]="student.isActive" color="primary">
            <span *ngIf="student.isActive">Active</span>
            <span *ngIf="!student.isActive">Inactive</span>
        </mat-slide-toggle>
    </div>

</div>

<br />

<div class="app-flex-container">
    <div>
        &nbsp;
        <br />
    </div>
    <div>
        <a mat-button (click)="goBack()">
            <mat-icon aria-label="Cancel">arrow_back</mat-icon>
            Return
        </a>
    </div>
</div>