<div class="app-flex-container">
    <div>
        <h2>Period</h2>
    </div>
</div>

<mat-card *ngIf="error">
    <div class="app-accent">{{error}}</div>
</mat-card>

<div *ngIf="!error">

    <div *ngIf="isLoading">
        <mat-spinner></mat-spinner> Loading...
    </div>

    <div *ngIf="!isLoading">
        <mat-form-field>
            <input [(ngModel)]="period.id" matInput placeholder="ID" disabled>
        </mat-form-field>

        <mat-form-field>
            <div class="app-flex-container">
                <input value="{{period.organisation.name}} (ID={{period.organisation.id}})" matInput placeholder="Organisation" disabled>
                <a mat-stroked-button color="primary" routerLink="/organisation-view/{{period.organisation.id}}">
                    <mat-icon aria-label="View organisation">visibility</mat-icon>
                    View organisation&nbsp;&nbsp;
                </a>
            </div>
        </mat-form-field>

        <mat-form-field>
            <input [(ngModel)]="period.name" matInput placeholder="Name" disabled>
        </mat-form-field>

        <mat-slide-toggle [(ngModel)]="period.isActive" color="primary" disabled>
            <span *ngIf="period.isActive">Active</span>
            <span *ngIf="!period.isActive">Inactive</span>
        </mat-slide-toggle>
    </div>

</div>

<br />

<div class="app-flex-container">
    <div>
        &nbsp;
        <br />
    </div>
    <div>
        <a mat-button (click)="goBack()">
            <mat-icon aria-label="Cancel">arrow_back</mat-icon>
            Return
        </a>
    </div>
</div>