<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"> ID </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'app-primary':element.isActive, 'app-accent':!element.isActive}">
            {{element.id}}
        </td>
    </ng-container>

    <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%"> Subject </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'app-primary':element.isActive, 'app-accent':!element.isActive}">
            {{element.subject.name}} (ID={{element.subject.id}}, Period ID={{element.subject.period.id}})
        </td>
    </ng-container>

    <ng-container matColumnDef="viewSubject">
        <th mat-header-cell *matHeaderCellDef width="15%"> </th>
        <td mat-cell *matCellDef="let element">
            <a mat-stroked-button color="{{element.isActive?'primary':'accent'}}" routerLink="/subject-view/{{element.subject.id}}">
                <mat-icon aria-label="View subject">visibility</mat-icon>
                View subject&nbsp;&nbsp;
            </a>
        </td>
    </ng-container>

    <ng-container matColumnDef="professor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="20%"> Professor </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'app-primary':element.isActive, 'app-accent':!element.isActive}">
            {{element.professor.professorAddressTruncated()}} (ID={{element.professor.id}}, Organisation ID={{element.professor.organisation.id}})
        </td>
    </ng-container>

    <ng-container matColumnDef="viewProfessor">
        <th mat-header-cell *matHeaderCellDef width="15%"> </th>
        <td mat-cell *matCellDef="let element">
            <a mat-stroked-button color="{{element.isActive?'primary':'accent'}}" routerLink="/professor-view/{{element.professor.id}}">
                <mat-icon aria-label="View professor">visibility</mat-icon>
                View professor&nbsp;&nbsp;
            </a>
        </td>
    </ng-container>

    <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"> State </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'app-primary':element.isActive, 'app-accent':!element.isActive}">
            <span *ngIf="element.isActive">Active</span>
            <span *ngIf="!element.isActive">Inactive</span>
        </td>
    </ng-container>

    <ng-container matColumnDef="changeState">
        <th mat-header-cell *matHeaderCellDef width="15%"> </th>
        <td mat-cell *matCellDef="let element">
            <a *ngIf="canUpdate" mat-stroked-button color="{{element.isActive?'primary':'accent'}}" routerLink="/teaching-state/{{element.id}}">
                <mat-icon aria-label="Change state">swap_horiz</mat-icon>
                Change teaching state
            </a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>