<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"> ID </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'app-primary':element.isActive, 'app-accent':!element.isActive}">
            {{element.id}}
        </td>
    </ng-container>

    <ng-container matColumnDef="period">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%"> Period </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'app-primary':element.isActive, 'app-accent':!element.isActive}">
            {{element.period.name}} (ID={{element.period.id}})
        </td>
    </ng-container>

    <ng-container matColumnDef="viewPeriod">
        <th mat-header-cell *matHeaderCellDef width="15%"> </th>
        <td mat-cell *matCellDef="let element">
            <a mat-stroked-button color="{{element.isActive?'primary':'accent'}}" routerLink="/period-view/{{element.period.id}}">
                <mat-icon aria-label="View period">visibility</mat-icon>
                View period&nbsp;&nbsp;
            </a>
        </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="20%"> Name </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'app-primary':element.isActive, 'app-accent':!element.isActive}">
            {{element.name}}
        </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%"> Price </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'app-primary':element.isActive, 'app-accent':!element.isActive}">
            {{element.price}}
        </td>
    </ng-container>

    <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"> State </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'app-primary':element.isActive, 'app-accent':!element.isActive}">
            <span *ngIf="element.isActive">Active</span>
            <span *ngIf="!element.isActive">Inactive</span>
        </td>
    </ng-container>

    <ng-container matColumnDef="changeState">
        <th mat-header-cell *matHeaderCellDef width="15%"> </th>
        <td mat-cell *matCellDef="let element">
            <a *ngIf="canUpdate" mat-stroked-button color="{{element.isActive?'primary':'accent'}}" routerLink="/subject-state/{{element.id}}">
                <mat-icon aria-label="Change state">swap_horiz</mat-icon>
                Change subject state
            </a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>