<div class="app-flex-container">
    <div>
        <h2>Subjects</h2>
    </div>
    <div *ngIf="canCreate">
        <a mat-fab routerLink="/subject-new">
            <mat-icon aria-label="Add subject">add</mat-icon>
        </a>
    </div>
</div>

<mat-card *ngIf="error">
    <div class="app-accent">{{error}}</div>
</mat-card>

<div *ngIf="!error">

    <div *ngIf="isLoadingOrganisation">
        <mat-spinner></mat-spinner> Loading user organisation...
    </div>

    <div *ngIf="!isLoadingOrganisation">

        <div *ngIf="organisation">
            <h3>My organisation (as administrator)</h3>
            <app-organisation [organisation]="organisation" [canUpdate]="false"></app-organisation>
        </div>

        <div *ngIf="isLoadingSubjects">
            <mat-spinner></mat-spinner> Loading subjects...
        </div>

        <div *ngIf="!isLoadingSubjects">

            <div *ngIf="organisation">

                <h3>Subjects of my organisation</h3>

                <app-subjects-table *ngIf="organisationSubjects && organisationSubjects.length > 0"
                    [subjects]="organisationSubjects" [canUpdate]="organisation.isActive" ></app-subjects-table>

                <mat-card *ngIf="!(organisationSubjects && organisationSubjects.length > 0)">
                    <div class="app-accent">No subjects found for my organisation.</div>
                </mat-card>

                <h3>Other subjects</h3>

            </div>

            <app-subjects-table *ngIf="otherSubjects && otherSubjects.length > 0"
                [subjects]="otherSubjects" ></app-subjects-table>

            <mat-card *ngIf="!(otherSubjects && otherSubjects.length > 0)">
                <div class="app-accent">No
                    <span *ngIf="organisation">others</span> subjects found.
                </div>
            </mat-card>

        </div>

    </div>

</div>